body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    text-align: center;
    margin: 0;
}
 
.pantalla {
    display: none;
    padding: 20px;
}
 
.pantalla.activa {
    display: block;
}
 
h2 {
    font-weight: 600;
    color: #3B3B3B;
    margin-bottom: 20px;
}
 
/* Botones principales azules */
.boton-principal {
    width: 80%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    background: linear-gradient(90deg, #27B3E6, #0056A6);
    cursor: pointer;
}
.boton-principal.activo {
    background: #363d5c;
    color: white;
}
 
.boton {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    background: #D9D9D9;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.boton.activo {
    background: #adb6df; 
    color: white;
}
 
/* Botón atrás */

.atras {
    margin-top: 40px;
    font-size: 22px; 
    width: 50px;     
    height: 50px;    
    display: flex;
    justify-content: center; 
    align-items: center;     
    border: 1px solid #0056A6;
    border-radius: 8px;
    background-color: #0056A6;
    color: white;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}
 
/* Inputs */
.input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}
 
.logo {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
